################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CursoDesignPatterns/obj
/CursoDesignPatterns/bin/Debug/netcoreapp2.2
/.vs/CursoDesignPatterns/v15
